body {
  font-family: sans-serif;
  &>* {
    box-sizing: border-box;
  }
}

input {
  margin: 1em;
  font-family: sans-serif;
}

.month {
  margin: .5em 1em;
  width: 250px;
  aspect-ratio: 1.1;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 7px #b9b9b9;
  border-radius: 1em;
  padding: .5em;

  .month-name {
    text-transform: uppercase;
    color: red;
    margin: 0.4em .7em .8em;
  }

  .week-day {
    margin: .4em;
    display: flex;
    justify-content: space-between;
    color: #999999;
  }

  .month-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    span {
      justify-self: center;
      margin: .4em;
      cursor: pointer;
      text-align: center;
    }

    .active{
      background-color: red;
      border-radius: 50%;
      padding: 0.4em;
      margin: 0;
      aspect-ratio: 1;
    }
  }
}
